{% extends 'main.html.twig' %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">
            <div class="content">
                Create new category
            </div>
        </h2>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <table class="ui compact celled definition table" id="categories-table">
            <thead>
            <tr>
                <th></th>
                <th>Category name</th>
                <th>Total transactions</th>
                <th>Largest transaction</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="collapsing">
                    <button class="ui icon green button">
                        <i class="pencil icon"></i>
                    </button>
                    <button class="ui icon red button">
                        <i class="trash icon"></i>
                    </button>
                </td>
                <td>Bills</td>
                <td>9899 PLN</td>
                <td>355 PLN</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <button class="ui icon green button">
                        <i class="pencil icon"></i>
                    </button>
                    <button class="ui icon red button">
                        <i class="trash icon"></i>
                    </button>
                </td>
                <td>Food</td>
                <td>4345 PLN</td>
                <td>312 PLN</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <button class="ui icon green button">
                        <i class="pencil icon"></i>
                    </button>
                    <button class="ui icon red button">
                        <i class="trash icon"></i>
                    </button>
                </td>
                <td>Games</td>
                <td>33554 PLN</td>
                <td>220 PLN</td>
            </tr>
            </tbody>
            <tfoot class="full-width">
            <tr>
                <th></th>
                <th colspan="3">
                    <form class="ui form" name="category" method="post">
                        {{ form_start(categoryForm) }}
                        <div class="fields">
                        <div class="field">
                            {{ form_widget(categoryForm.name,{'attr': {'class' :'form-control', 'placeholder': 'Category name'}}) }}
                        </div>
                        <div class="field">
                            <button type="submit" class="ui right floated primary labeled icon button">
                                <i class="plus icon"></i> Add new category
                            </button>
                        </div>
                    </div>
                        {{ form_end(categoryForm) }}
                    </form>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}