{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(categoryForm) }}
        {{ form_widget(categoryForm) }}
        <button type="submit">Save Category</button>
    {{ form_end(categoryForm) }}
{% endblock %}