html, body {
    height: auto !important;
}

body {
    background: url('../images/natural_paper.png');
}

.main-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.categories-list {
    font-size: 14px;
}

.main-grid {
    display: flex;
    justify-content: space-around;
}

.login-form, .registration-form {
    margin-top: 50px !important;
}