<div class="card icon-card">
    <div class="content">
        <i class="big {{ category.logo ?? 'dollar' }} icon"></i>
        <div class="ui hidden divider"></div>
        <div class="header">{{ category.name }}</div>
    </div>
    <div class="extra content">
    <span class="like">
      <i class="trash red icon"></i>
    </span>
        <span class="like">
      <i class="pencil blue icon"></i>
    </span>
        <span class="star">
      <i class="star yellow icon"></i>
    </span>
    </div>
</div>
