<div class="ui vertical pointing menu">
    <a href="{{ path('homepage_main') }}" class="active item">
        Home
    </a>
    <a href="{{ path('category_new') }}" class="item">
        Categories
    </a>
    <a href="{{ path('transaction_new') }}" class="item">
        Transactions
    </a>
</div>