<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />
</head>
<body>
<div class="ui container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/app.js') }}"></script>
<script src="/semantic/dist/semantic.js"></script>
</body>
</html>
