{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui segment login-form">
        <div class="ui header">Sign in</div>
        <form class="ui form" action="/login_check" method="post">
            <div class="field">
                <label>Username</label>
                <input type="text" id="username" name="_username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" id="password" value='' name="_password" placeholder="Password">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="1" tabindex="0" class="hidden">
                    <label>Remember me</label>
                </div>
            </div>
            <button class="ui button primary" type="submit" id="_submit" name="_submit">Submit</button>
            <div class="ui hidden divider"></div>
            <div class='text-center'><a href="/resetting/request"
                                        class="text-sm">Forgot Password?</a></div>
            <p class="text-center m-t-xs text-sm">Do not have an account?</p>
            <button href="/register/" class="ui button">Create an account</button>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
        </form>
    </div>
{% endblock %}